<% provide(:title) %>
  <iframe width="100%" height="600px" 
    src="https://www.youtube.com/embed/<%= "#{@random_movie.youtube_url}" %>"
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="container">
  <div class="row">
    <div class="col-12 contents-info">
      <%= link_to @random_movie.name, "/#{"#{@random_movie.class}".downcase}s/#{@random_movie.id}" %>
    </div>
    <div class="col-12 contents_index">
      <div class="row">
        <% @movie.each_with_index do |movie, index| %>
          <div class="col-3">
            <%= link_to image_tag("http://img.youtube.com/vi/#{movie.youtube_url}/mqdefault.jpg", class: "contents_image"), "/#{"#{movie.class}".downcase}s/#{movie.id}" %>
            <%= link_to movie.name, "/#{"#{movie.class}".downcase}s/#{movie.id}", class: "result_name" %>
          </div>
        <% end %>
      </div>
    </div>
  <br>
  <br>
  <br>
  <br>
    <!-- <div class="col-12 swiper-container mySwiper"> -->
      <!-- <div class="row swiper-wrapper"> -->
        <!-- <%# @movie.each_with_index do |movie, index| %> -->
          <!-- <div class="col-3 swiper-slide"> -->
            <!-- <%#= link_to image_tag("http://img.youtube.com/vi/#{movie.youtube_url}/mqdefault.jpg", class: "contents_image"), "/#{"#{movie.class}".downcase}s/#{movie.id}" %> -->
            <!-- <%#= link_to movie.name, "/#{"#{movie.class}".downcase}s/#{movie.id}", class: "result_name" %> -->
          <!-- </div> -->
        <!-- <#% end %> -->
      <!-- </div> -->
    <!-- </div> -->
  </div>
</div>
<!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->
<!-- <script src="https://unpkg.com/swiper/swiper-bundle.js"></script> -->

<%#= javascript_pack_tag "swiper/swiper.js" %>
