<% if @comments.any? %>
  <ul class="comments">
<li id="comment-<%= comment.id %>">
  <div class="row">
    <div class="col-md-8">
      <span class="comment"><%= comment.content %></span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2, col-md-offset-3">
      <span class="comment-create-at"><%= time_ago_in_words(comment.created_at) %>前</span>
    </div>
  </div>
</li>
  </ul>
<% end %>
