<% provide(:title, "search") %>
<div class="container">
  <p>
    <%= "タグが - #{@tag.tag_name} - のdance一覧" %>
  </p>
  <div class="row search_result">
      <% @dances.each do |dance| %>
      <div class="search_image">
        <%= link_to image_tag("http://img.youtube.com/vi/#{dance.youtube_url}/hqdefault.jpg", class: "contents_image"), dance %>
        <%= link_to dance.name, dance, class: "result_name" %>
      </div>
      <% end %>
  </div>
</div>
