@import "~bootstrap/scss/bootstrap";




// ミックスイン
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}




// 全ページ共通
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb ;
  border-radius: 0.25rem;
  width: 100%;
  margin-bottom: 5px;
  @include box_sizing;
}

input {
  height: auto !important;
}
 #error_explanation  {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
    .form-control {
        @extend .is-invalid;
    }
}




// テキストの見栄え
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777 ;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}




// ヘッダー
.navbar ul{
  margin-top: 12px;
  margin-bottom: 12px;
}
 #logo  {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  img {
    width: 150px;
  }
}

.checkbox {
 margin-top: -10px;
 margin-bottom: 10px;
 span {
   margin-left: 20px;
   font-weight: normal;
 }
}
 #session_remember_me  {
 width: auto;
 margin-left: 0;
}




//// 音楽登録ページ ////
.input-need {
  color: red;
  font-size: 13px;
}




//// 音楽詳細ページ ////
.music-user-name {
  display: inline-block;
}
.music-name {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.music-reference {
  margin-top: 30px;
}

.music-portion {
  margin-top: 30px;
}

.tips {
  margin-top: 30px;
  margin-bottom: 30px;
  h5 {
    font-size: 17px;
  }
}

.title-tips {
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}

.show-music-other-info {
  margin-top: 30px;
  margin-bottom: 30px;
}

.music-other-info {
  margin-top: 10px;
  margin-bottom: 20px;
}

.music-date {
  h5 {
    font-size: 16px;
    display: inline-block;
  }
  h4 {
    font-size: 20px;
    display: inline-block;
  }
}