<% provide(:title, "search") %>
<div class="container">
  <div class="row">
    <!-- <div class="col-md-12"> -->
      <!-- <#% @tag_list.each do |list| %> -->
        <!-- <#%= link_to list.tag_name, tag_musics_path(music_tag_id: list.id) %>   -->
      <!-- <#% end %> -->
    <!-- </div> -->
    <div class="col-12">
      <p>
        <%= "タグが - #{@tag.tag_name} - のstage一覧" %>
      </p>
      <% @stages.each do |stage| %>
        <%= link_to stage.name, stage %>
      <% end %>
    </div>
  </div>
</div>
