<% provide(:title, "search") %>
<div class="container">
  <p>
    <%= "タグが - #{@tag.tag_name} - のmusic一覧" %>
  </p>
  <div class="row search_result">
      <% @musics.each do |music| %>
      <div class="search_image">
        <%= link_to image_tag("http://img.youtube.com/vi/#{music.youtube_url}/hqdefault.jpg", class: "contents_image"), music %>
        <%= link_to music.name, music, class: "result_name" %>
      </div>
      <% end %>
  </div>
</div>
